.div1, .div2, .div3, .div4 {
    float: left;
}

.div1 {
    background-color: darkorange;
    width: 33.3%;
}
.div2 {
    background-color: darkolivegreen;
    width: 33.3%;
}
/* .div2:hover + .div3 {
    display: none;
} */
.div3 {
    background-color: darkred;
    width: 33.3%;
}
.div4 {
    background-color: darksalmon;
    width: calc(100% - 4px);
    clear: both;
}

/* Jeigu norim sutvarkyti floatus */
.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

footer {
    background-color: darkorchid;
    margin-top: 20px;
}