* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    background-color: burlywood;
    padding: 1rem;
}

header {
    /* width: 100%; */
    height: 6rem;
    background-color: royalblue;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
 
.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_hidden {
    display: none;
}
.nav_item {
    font-size: 1.6rem;
    padding: 0 2rem;
    text-decoration: none;
    color: white;
}
/* ====================== */
/* MAIN================== */
/* ====================== */

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.text_block {
    width: 64%;
    height: 60rem;
    background-color: seagreen;
    border-right: 2rem solid orangered;
    margin: 1rem auto;
    padding: 1rem;
    font-size: 2rem;
}
.reklama_block {
    width: 34%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 1rem auto;
}
.reklama_item {
    width: 99%;
    height: 10rem;
    font-size: 2rem;
    color: white;
    background-color: steelblue;
    margin: 0 auto 1rem;
}

.kontaktai {
    background-color: blue;
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.kontaktai p {
    font-size: 2rem;
    color: white;
}

@media (max-width: 768px) {
    body {
        padding: 0;
    }
    .nav_show {
        display: none;
    }
    .nav_hidden {
        display: block;
    }
    .container {
        border-right: 2rem solid red;
        flex-direction: column;
    }
    .text_block {
        width: 100%;
        border: none;
    }
    .reklama_block {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .reklama_item {
        width: 44%;
    }
}

