* {
    box-sizing: border-box;
}

.block {
    background: #ddd;
    position: relative;
    margin: auto;
    width: 50vw;
    height: 50vw;
    border: 5px solid #ddd;
}   

.r {
    background-color: rgba(255, 0, 0, .5);
    position: absolute;
    width: 60%;
    height: 60%;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
    border: 1vw solid red;
}

.g {
    background-color: rgba(0, 255, 0, .5);
    position: absolute;
    width: 60%;
    height: 60%;
    left: 0;
    bottom: 0;
    border-radius: 50%;
    border: 1vw solid green;
}

.b {
    background-color: rgba(0, 0, 255, .5);
    position: absolute;
    width: 60%;
    height: 60%;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    border: 1vw solid blue;
}

.p {
    /* display: inline-block; */
    font-size: 5vw;
    color: white;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}